body {
    /* Alice Blue*/
    background-color: #F0F8FF;
    /*border-style: groove;*/
    /*border-color: darkblue;*/
    /*border-width: 10px;*/
}

table , th, td {
    border: 1px groove grey;
}

.popup {
    display: none;
    position: fixed;
    left: 45%;
    top: 5%;
    transform: translate(-50%, 5%);
    border: 3px solid #999999;
    z-index: 9;
}

form.popup {
    max-width: 300px;
    padding: 20px;
    background-color: #fff;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.loginPopup {
    position: relative;
    margin: 0 auto;
    padding: 20px 20px 20px;
    width: 310px;
}

.divRow {
    display: inline-block; /* Display elements in a single row */
    margin: 10px; /* Optional: Add some space between elements */
}